<p id="notice"><%= notice %></p>

<div class="busy-list" style="-webkit-box-shadow: 2px 1px 4px #454545;">
	<div class="busy-list-header">
		<h1><div class="list-icon">&nbsp;</div><%= @list.name %></h1> 
	</div>

	<ul>
	<% @list.list_items.each do |item| %>
	<% if !item.is_complete %>
	  <li class="list-item-container">
	<div class="due-complete">
		<% if item.due_date %>
			<% if item.overdue? %>!! <% end %>
			<div class="due-date"><%= item.due_date %></div>
		<% end %>
		<div class="complete"><%= link_to "Mark Complete", complete_list_item_url(item), :method => :post %></div>
	</div>
	

	<div class="action-item"><%= link_to item.name, edit_list_item_url(item) %></div>	
	
	<% if item.description %>
		<p><%= h item.description%></p>
	<% end %>
	<div style="display: none;">
	
	<%= link_to "✖ Delete", list_item_url(item), :method => :delete, :confirm => "Are you sure?" %>
	</div>
	
	  </li>
	<% end %>
	<% end %>
	<li>
		<%= form_for(ListItem.new) do |f| %>
		  <div class="field">
			<%= f.hidden_field :list_id, :value => @list.id %>
		    <%= f.text_field :name, :autocomplete => "off" %>
			<a href="#" style="font-size: 0.8em;">more...</a>
		  </div>
		<% end %>
	</li>
	</ul>
</div>

<nav class="sidebar" style="padding: 10px; background: #CCC; background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#E6B22E), color-stop(0.3, #FAD05E), color-stop(0.85, #FAE387)); border-radius: 6px; -webkit-box-shadow: 2px 1px 4px #454545;">
	<p style="padding-bottom: 10px;text-align: right;"><img src="/images/busy-logo.png" height="60px" /></p>
	<ul class="lists">
		<% @lists.each do |l| %>
		<% if l.id == @list.id %>
		<li class="current-list"><div class="list-icon">&nbsp;</div><%= link_to l.name, list_url(l) %></li>
		<% else %>
		<li><div class="list-icon">&nbsp;</div><%= link_to l.name, list_url(l) %></li>
		<% end %>
		<% end%>
		<li>&nbsp;</li>
		<li><div class="lists-icon">&nbsp;</div><%= link_to 'Manage Lists', new_list_path %></li>
		<li><div class="lists-icon">&nbsp;</div><%= link_to 'Manage Account', new_list_path%></li>
	</ul>
	
</nav>

<div class="busy-list-actions">
<a href="#" onclick="$('#new-list-item').modal({opacity:40, overlayCss: {backgroundColor: '#000'}}); return false;">Add to item to <%= h @list.name %></a><br/><br/>
<a href="#" onclick="$('#new-list-item').slideToggle(); return false;">Add to item to <%= h @list.name %></a>
<div id="new-list-item">
	<%= form_for(ListItem.new) do |f| %>
	  <div class="field">
		<%= f.hidden_field :list_id, :value => @list.id %>
	    <%= f.label :name %><br />
	    <%= f.text_field :name, :autocomplete => "off" %>
	  </div>
	<a href="#" onclick="$('#new-list-item .advanced').toggle(); return false;">&gt; Advanced ...</a>
	<div class="advanced">
	  <div class="field">
	    <%= f.label :description %><br />
	    <%= f.text_area :description %>
	  </div>
	  <div class="field">
	    <%= f.label :due_date %><br />
	    <%= f.text_field :due_date, :type => "date" %>
	  </div>
	</div>
	  <div class="actions">
	    <%= f.submit %>
	  </div>
	<% end %>
	
</div>
