<p id="notice"><%= notice %></p>

<h3 style="border-bottom: 1px solid #666; padding-bottom: 5px;"><%= @list.name %> [<%= link_to 'Edit', edit_list_path(@list) %>]</h3>

<ul style="padding:0; margin:0;">

<% @list.action_items.each do |action_item| %>
  <li style="line-height: 2.0em; list-style:none; margin-left: 0; padding-left: 0;">
<input type="checkbox" /> &nbsp;
<%= action_item.name %> &nbsp;<strong><%= action_item.due_date %></strong>
	<%= link_to "X", list_action_item_url(@list,action_item), :method => :delete, :confirm => "Are you sure?" %>
  </li>
<% end %>
</ul>

<%= link_to "New Action Item", new_list_action_item_url(@list) %>





