<p id="notice"><%= notice %></p>

<div class="busy-list">
	<div class="busy-list-header">
		<div style="float: right;">
			[<%= link_to "+ Add", new_list_item_url(), :onclick => "$('#new-list-item').modal({opacity:80, overlayCss: {backgroundColor: '#000'}}); return false;" %>]
		</div>
		<h1><div class="list-icon">&nbsp;</div><%= @list.name %></h1> 
	</div>

	<ul>
	<% @list.list_items.each do |item| %>
	<% if !item.is_complete %>
	  <li class="list-item-container">
	<div class="due-complete">
		<% if item.due_date %><strong><%= item.due_date %>&nbsp;</strong><% end %>
		<div class="complete"><%= link_to "-", complete_list_item_url(item), :method => :post %></div>
	</div>
	<div class="twist">
		<a href="#" onclick="$(this).parent().toggleClass('open').siblings('.action-item-extra').toggle();return false;">&nbsp;</a></div>
	<div class="action-item"><%= h item.name %></div>	
	
	<div class="action-item-extra">
	<% if item.description %>
	<span><%= h item.description%></span><br/><% end %>
	<span>Updated: <%= h item.updated_at %></span><br />
	<%= link_to "Edit", edit_list_item_url(item) %>&nbsp;
	<%= link_to "✖ Delete", list_item_url(item), :method => :delete, :confirm => "Are you sure?" %>
	</div>
	
	  </li>
	<% end %>
	<% end %>
	</ul>
</div>

<nav class="sidebar">
	<ul class="lists">
		<li><div class="lists-icon">&nbsp;</div><strong>My Lists</strong></li>
		<% @lists.each do |l| %>
		<% if l.id == @list.id %>
		<li class="iamhere"><%= link_to l.name, list_url(l) %></li>
		<% else %>
		<li><%= link_to l.name, list_url(l) %></li>
		<% end %>
		<% end%>
	</ul>
</nav>

<div class="busy-list-actions">
<a href="#" onclick="$('#new-list-item').modal({opacity:80, overlayCss: {backgroundColor: '#000'}}); return false;">Add to item to <%= h @list.name %></a>
<div id="new-list-item">
	<%= form_for(ListItem.new) do |f| %>
	  <div class="field">
		<%= f.hidden_field :list_id, :value => @list.id %>
	    <%= f.label :name %><br />
	    <%= f.text_field :name, :autocomplete => "off" %>
	  </div>
	<a href="#" onclick="$('#new-list-item .advanced').toggle(); return false;">&gt; Advanced ...</a>
	<div class="advanced">
	  <div class="field">
	    <%= f.label :description %><br />
	    <%= f.text_area :description %>
	  </div>
	  <div class="field">
	    <%= f.label :due_date %><br />
	    <%= f.text_field :due_date, :type => "date" %>
	  </div>
	</div>
	  <div class="actions">
	    <%= f.submit %>
	  </div>
	<% end %>
	
</div>
