<!DOCTYPE html>
<html>
<head>
  <title>busy</title>
  <meta name="viewport" content="initial-scale:1.0">
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>

</head>
<body>
	<header>
		<h1><a href="<%= root_url %>"><span class="pictos">2</span> busy</a></h1>
		<nav>
		<ul>
			<li><%= link_to "My Lists", lists_url %></li>
			<li> &nbsp; <%= link_to "Logout", destroy_user_session_url %></li>
			<!--<li>Calendar</li>-->
		</ul>
		</nav>
	</header>


	<div id="busy-container">
	<%= yield %>
	</div>

</body>
</html>
